<% layout('layout.ejs') %>
<ul>
  <li>
    <h2>
      <a href="/trainers/twitter-actor">Twitter Actor</a>
    </h2>
  </li>
  <li>
    <h2>
      <a href="/trainers/instagram">Instagram</a>
    </h2>
  </li>
</ul>