
body {
  margin:0;
  font-family: 'Roboto Slab', serif;
  background: url('/images/bg.jpg') no-repeat center;
  background-size: cover;
}

*, *:after, *:before{
  outline: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner {border: 0;}
/* removes dashed outline from selects*/
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #646464;  /* your normal text color here */
}
select:-moz-focusring * {
  color: #646464;
  text-shadow: none;  /* your normal text color here */
}
/* clear fix hack*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

a,h1,h2,h3,h4,h5,h6,p,
input,select,textarea,ul,li{
  margin:0;
  padding:0;
  font-weight:300;
  color:#1a1a1a;
}
h2 {padding-bottom: 12px;}

#blocker{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 9999;
}
#blocker p{
  color:#fff;
  text-align: center;
  font-size:60px;
  font-family: 'sans serif';
  position: absolute;
  top:50%;
  width: 100%;
  margin-top: -100px;
}

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
}
.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}
.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  height: 60px;
  background-color: #ef6c00;
  padding:0 24px;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
}
#header h1{
  color:#fff;
  font-weight: 400;
  line-height: 60px;
}
#page-wrapper{
  padding: 24px;
}
#activity-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-right: 24px;
}
#actions-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 24px;
}
#tweet-placeholder {
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
}
#tweet-placeholder > iframe {
  transition: opacity 1s;
}
#actions-wrapper button {
  border:none;
  display: block;
  width:320px;
  margin-bottom: 12px;
  border-radius: 2px;
  font-size:20px;
  padding: 12px 0 12px 66px;
  font-weight: 300;
  cursor:pointer;
  text-align: left;
  text-transform: uppercase;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
}
#actions-wrapper button{ 
  background: no-repeat 9px center;
  background-size: auto 90%;
}
#actions-wrapper button.red{ background-color: #d32f2f; background-image: url('/images/bottom.svg'); }
#actions-wrapper button.blue{ background-color: #1e88e5; background-image: url('/images/up.svg'); }
#actions-wrapper button.green{ background-color: #4caf50; background-image: url('/images/left.svg'); }
#actions-wrapper button.yellow { background-color: #f9a825; background-image: url('/images/s-key.svg');  background-size: auto 60%;}
#actions-wrapper button.grey{ background-color: #6b6b6b; background-image: url('/images/right.svg'); }



.loading {
  position: relative;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.loading::after {
  content:'';
  display: block;
  font-size: 12px;
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: transparent;
  top:calc(50% - 21px);
  left:calc(50% - 21px);
  border-width: 9px;
  border-color: #aaa #bbb #ccc #ddd;
  border-style: solid;
  border-radius: 50%;
  animation: rot 2s ease-in-out infinite;
}

