
html {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
body {
  margin:0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
}

*, *:after, *:before{
  outline: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner {border: 0;}
/* removes dashed outline from selects*/
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #646464;  /* your normal text color here */
}
select:-moz-focusring * {
  color: #646464;
  text-shadow: none;  /* your normal text color here */
}
/* clear fix hack*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

a,h1,h2,h3,h4,h5,h6,p,
input,select,textarea,ul,li{
  margin:0;
  padding:0;
  font-weight:300;
  color:#1a1a1a;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
a:hover:not(.button) {
  text-decoration: underline;
}
h2 {padding-bottom: 12px;}

#blocker{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 9999;
}
#blocker p{
  color:#fff;
  text-align: center;
  font-size:60px;
  font-family: 'sans serif';
  position: absolute;
  top:50%;
  width: 100%;
  margin-top: -100px;
}

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
}
.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}
.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  height: 72px;
  background-color: #212121;
  padding:0 24px;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
}
#header-top{
  background: url('/images/encore.svg') no-repeat 12px center;
  background-size: auto 40%;
  padding-left: 48px;
  display: inline-block;;
}
#header-top h1{
  color:#fff;
  line-height: 72px;
  font-weight: 300;
  font-size:24px;
  position: relative;
}
#header-top h1 a{
  color: #fff;
}
.separator {
  width:12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.separator::before{
  content:'';
  position: absolute;
  left:4px;
  top:calc(50% - 6px);
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #fff;
  border-style:solid;
}
.separator::after{
  content:'';
  position: absolute;
  left:0;
  top:calc(50% - 12px);
  border-width: 12px 0 12px 6px;
  border-color: transparent transparent transparent #212121 ;
  border-style:solid;
}

#header-status {
  float:right;
}
#header-status span{
  line-height: 72px;
  color:#fff;
  font-weight: 300;
}
.status-value {
  margin-left: 6px;
  display: inline-block;
  padding: 4px;
  color:#000;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 300;
  font-style: normal;
}


#page-wrapper{
  padding: 24px 24px 48px;
}
#activity-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-right: 24px;
}
#actions-wrapper {
  display: inline-block;
  vertical-align: top;
}
#placeholder {
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  width: 500px;
  margin: 0 auto;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
}
@media handheld, screen and (max-width:900px) {
  #activity-wrapper,
  #actions-wrapper{
    text-align: center;
    display: block;
  }
  #actions-wrapper{
    padding-top: 24px;
  }
}
#placeholder > iframe {
  transition: opacity 1s;
}
button,
.button {
  display: block;
  width:300px;
  margin: 0 auto 12px;
  padding: 12px;
  cursor:pointer;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size:18px;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  border:none;
  border-radius: 2px;
  box-shadow:2px 2px 4px rgba(0,0,0,.3);
  background-color: #1a1a1a;
}
button.red{ background-color: #d32f2f }
button.blue{ background-color: #1e88e5; }
button.green{ background-color: #4caf50; }
button.yellow { background-color: #4527A0; }
button.grey{ background-color: #6b6b6b; }

button[class*="key-"] {
  background-repeat: no-repeat;
  background-position: 9px center;
  background-size: auto 90%;
  text-align: left;
  padding-left: 66px;
}
button.key-down{ background-image: url('/images/bottom.svg'); }
button.key-up{ background-image: url('/images/up.svg'); }
button.key-right{ background-image: url('/images/right.svg'); }
button.key-left{ background-image: url('/images/left.svg'); }
button.key-s{ background-image: url('/images/s-key.svg'); background-size: auto 60%; }

.loading {
  position: relative;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.loading::after {
  content:'';
  display: block;
  font-size: 12px;
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: transparent;
  top:calc(50% - 21px);
  left:calc(50% - 21px);
  border-width: 9px;
  border-color: #aaa #bbb #ccc #ddd;
  border-style: solid;
  border-radius: 50%;
  animation: rot 2s ease-in-out infinite;
}

