<% layout('layout.ejs') %>
<ul>
  <li>
    <h2>
      <a href="/trainers/twitter-actor-classification">Twitter Actor Classification</a>
    </h2>
  </li>
  <li>
    <h2>
      <a href="/trainers/instagram-spam">Instagram Spam</a>
    </h2>
  </li>
</ul>